@charset "UTF-8";

body { background: #171d23; color: #FFF; font-size: 16px; }

h1, h2 { font-family: 'Mystery Quest', cursive; }

section, article, .subImagesContainer { position: relative; width: 635px; margin: 0 auto; border: 0; border-radius: 20px 20px 0px 0px;}

.heading { text-align: center; margin-top: 15px; font-size: 2em; }

.image-holder {
	width: 153px;
	height: 422px;
	background: url(../images/fourSeasons.jpg) no-repeat;
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	transition: opacity 0.3s ease;
   border-radius: 20px 20px 0px 0px;
}
.close-lightbox{
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
}

.image-holder:hover {
	opacity: 0.3;
}

section {
	margin-top: 15px;
	background-color: #FFF; }

#summer { background-position: -146px 0; }
#autumn { background-position: -293px 0; }
#winter { background-position: -438px 0; }

.spring { color: #6ebd1a; }
.summer { color: #f8a40a; }
.autumn { color: #930d03; }
.winter { color: #02c5e5; }

.main-copy { background-color: #FFF; font-size: 1.5em; }
.main-copy h2 {
	text-transform: capitalize;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	margin: 0;
	order:0px;
}

.main-copy p {
	color: gray;
	padding: 0 20px;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-bottom: 20px;
	text-align: center;
}

.subImagesContainer { padding: 0; margin: 0 auto; }

.thumb{ height: 90px; margin: 8px; cursor: pointer;}



.lightbox{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 90%;*/
	background-color: rgba(23, 22, 22, 1);
	z-index: 5000;
}
.background
{
    border-radius: 0px 0px 20px 20px;
}
.lightbox-img
{	display: block;
	margin: 0 auto;
	width: 80%;
	padding-top: 5%;
}
.lightbox-desc
{text-align: center;
/*color: rgba(220, 219, 219, 1);*/
font-family: 'Mystery Quest', cursive;
font-size: 20px;
}


.thumb { height: 90px; margin: 8px; cursor: pointer; }
